__pycache__/
*.py[cod]
*$py.class

.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/

.ipynb_checkpoints/
notebooks/*
!notebooks/
!notebooks/busestoken_demo.ipynb
output/
docs/
GraphGPS/
utils/
paper/
rex/

*.ipynb
!notebooks/busestoken_demo.ipynb
*.html
*.png
*.json
